#root {
  margin: 0 auto;
/* background-image: url(./istockphoto-1156944184-1024x1024.jpg); */
  text-align: center;
}
.light{
  background-color: rgb(255, 255, 255);
  color: rgb(13, 13, 20);
}
.dark{
  background-color: rgb(0 0 0 / 79%);
  color: rgb(255, 255, 255);
  &a{
    color: rgb(255, 255, 255);
  }
}